<div ng-controller="DashboardCtrl">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Today's appointments
                </div>
                <div class="panel-body" ng-repeat="app in appointments">
                        <li class="active"><a href="" ng-click="showAppointment(app.id)">{{app.startTime}}-{{app.endTime}}
                            {{app.customerName}} {{app.service}} </a></li>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Details
                </div>
                <div class="panel-body">
                    <div class="list-group"><!--
                        <li class="list-group-item">{{userId}}</li>
                        <li class="list-group-item">{{customerName}}</li>
                        <li class="list-group-item">{{contactInfo}}</li>
                        <li class="list-group-item">{{service}}</li>
                        -->
                        {{userId}}<br/>
                        {{customerName}}
                    </div>
                    <!-- /.table -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> New/Cancelled/Re-schedulered/Updated Appointments
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group" ng-repeat=" item in appNotifications">
                        <a href="#" class="list-group-item">
                            <i class="fa fa-twitter fa-fw"></i> {{item.description}}
                                    <span class="pull-right text-muted small"><em>{{item.updatedTime}}</em>
                                    </span>
                        </a>
                    </div>
                    <!-- /.list-group -->
                    <!--<a href="#" class="btn btn-default btn-block">View All Alerts</a>-->
                </div>
                <!-- /.panel-body -->
            </div>


        </div>
    </div>
    <!-- /.row -->
</div>