<!--
fields of new services
. services name
. description
. location
. contact information, phone, email
. contact person
. list of services
  . service description
  . service length
-->
<div ng-controller="NewServiceCtrl" ng-submit="">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">New Service</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Enter required information with  <code>*</code>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form role="form" ng-submit="submitForm()">
                                <div class="form-group">
                                    <label>Service Name:</label>
                                    <input class="form-control" placeholder="Service Name" ng-model="name">
                                    <p class="help-block">Example block-level help text here.</p>
                                </div>
                                <div class="form-group">
                                    <label>Description:</label>
                                    <input class="form-control" ng-model="description">
                                </div>
                                <div class="form-group">
                                    <label>Address:</label>
                                    <input class="form-control" ng-model="address">
                                </div>
                                <div class="form-group">
                                    <label>City:</label>
                                    <input class="form-control" ng-model="city">
                                </div>
                                <div class="form-group">
                                    <label>City:</label>
                                    <input class="form-control" ng-model="city">
                                </div>
                                <div class="form-group">
                                    <label>Country:</label>
                                    <input class="form-control" ng-model="country">
                                </div>
                                <div class="form-group">
                                    <label>Postal Code:</label>
                                    <input class="form-control" ng-model="postalCode">
                                </div>
                                <div class="form-group">
                                    <label>Contact Person:</label>
                                    <input class="form-control" ng-model="contactPerson">
                                </div>
                                <div class="form-group">
                                    <label>Contact Number:</label>
                                    <input class="form-control" ng-model="contactNumber">
                                </div>
                                <div class="form-group">
                                    <label>Email:</label>
                                    <input class="form-control" placeholder="Email" ng-model="email">
                                </div>
                                <div class="form-group">
                                    <label>Open on weekends:</label>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Saturday
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Sunday
                                        </label>
                                    </div>
                                </div>

                                <!-- time Picker -->
                                <div class="bootstrap-timepicker">
                                    <div class="form-group">
                                        <label>Time picker:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control timepicker"/>
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div><!-- /.input group -->
                                    </div><!-- /.form group -->
                                </div>

                                <label class="control-label col-lg-4">Default Timepicker</label>
                                <div class="col-lg-3">
                                    <div class='input-group date' id='datetimepicker4'>
                                        <input type='text' class="form-control" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                            </span>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-default">Submit Button</button>
                                <button type="reset" class="btn btn-default">Reset Button</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        //Datemask dd/mm/yyyy
        $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
        //Datemask2 mm/dd/yyyy
        $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
        //Money Euro
        $("[data-mask]").inputmask();

        //Date range picker
        $('#reservation').daterangepicker();
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
        //Date range as a button
        $('#daterange-btn').daterangepicker(
                {
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                        'Last 7 Days': [moment().subtract('days', 6), moment()],
                        'Last 30 Days': [moment().subtract('days', 29), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                    },
                    startDate: moment().subtract('days', 29),
                    endDate: moment()
                },
                function (start, end) {
                    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                }
        );

        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        });
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-red',
            radioClass: 'iradio_minimal-red'
        });
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });

        //Colorpicker
        $(".my-colorpicker1").colorpicker();
        //color picker with addon
        $(".my-colorpicker2").colorpicker();

        //Timepicker
        $(".timepicker").timepicker({
            showInputs: false
        });
    });
</script>