<!--
fields of new services
. services name
. description
. location
. contact information, phone, email
. contact person
. list of services
  . service description
  . service length
-->
<div ng-controller="NewServiceCtrl">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">New Service</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Enter required information with  <code>*</code>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form role="form">
                                <div class="form-group">
                                    <label>Text Input</label>
                                    <input class="form-control" placeholder="Email">
                                    <p class="help-block">Example block-level help text here.</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>