<!DOCTYPE html>
<html>
<head>
    <title>Open Scheduler</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/_all-skins.min.css">
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/blue.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/metisMenu.min.css">
    <link rel="stylesheet" href="/styles/morris.css">
    <link rel="stylesheet" href="/styles/sb-admin-2.css">
    <link rel="stylesheet" href="/styles/timeline.css">
    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
        window.SAILS_LOCALS = { _csrf: "<%= _csrf %>" };
    </script>

</head>

<body ng-app="Myscheduler" ng-controller="MySchedulerController" ng-cloak>

<div class="container">
    <!-- Creates the navbar -->
    <nav class="navbar navbar-default navbar-inverse">
        <!-- This creates the mechanism for collapse button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <!-- This controls the number of lines in the image when the nav collapse -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!-- This is the brand on the left-hand side. -->
        <a class="navbar-brand" href="/#"> Open Scheduler</a>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
            <form ng-submit="submitLoginForm()" class="navbar-form navbar-right">

                <div class="form-group">
                    <input ng-model="loginForm.email" type="text" placeholder="Email" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <input ng-model="loginForm.password" type="password" placeholder="Password" name="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">
                    <span ng-show="!loginForm.loading">Sign in</span>
                    <span ng-show="loginForm.loading" class="fa fa-spinner"></span>
                    <span ng-show="loginForm.loading">Signing in...</span>
                </button>
                <input type="hidden" name="_csrf" value="<%= _csrf %>" />
            </form>
        </div>
    </nav>
</div>

<div class="container">
    <div ng-view></div>
</div>


<div class="container">
    <hr>
    <footer class="footer pull-right">
        <div>
            <a href="http://sailsjs.com/">sailsjs.org</a>
            <div>tutorial by irl nathan, with a bunch of help from cody, gabe, heather, mike, racheal, scott and zoli</div>
        </div>
    </footer>
</div>


<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/angular.js"></script>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/bootstrap.js"></script>
<script src="/js/dependencies/angular-route.js"></script>
<script src="/js/dependencies/angular-toastr.js"></script>
<script src="/js/dependencies/compareTo.module.js"></script>
<script src="/js/dependencies/metisMenu.min.js"></script>
<script src="/js/dependencies/morris-data.js"></script>
<script src="/js/dependencies/morris.min.js"></script>
<script src="/js/dependencies/npm.js"></script>
<script src="/js/dependencies/raphael-min.js"></script>
<script src="/js/dependencies/sb-admin-2.js"></script>
<script src="/js/app.js"></script>
<script src="/js/public/signup/SignupModule.js"></script>
<script src="/js/controller/DashboardCtrl.js"></script>
<script src="/js/controller/NewServiceCtrl.js"></script>
<script src="/js/controller/ViewServiceCtrl.js"></script>
<!--SCRIPTS END-->
</body>
</html>